<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WrongConnection" providerName="System.Data.SqlClient" connectionString="Wrong connection string" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=99XCW8KPE-LAP;Initial Catalog=MiniNW;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>